{% extends 'base_user_center.html' %}

{% block head_title %}
用户中心
{% endblock head_title %}

{% block head_uname %}
{{uname}}
{% endblock head_uname %}

{% block head_js %}
<script type="text/javascript">
$(function(){
	$('.col04').each(function () {
		num=parseFloat($(this).prev().text())
		price=parseFloat($(this).prev().prev().find('span').text())
		$(this).text((num*price).toFixed(2)+'元')
  });

  $('.list li').eq(1).children('a').addClass('active').parent().siblings().children('a').removeClass('active');

});
</script>
{% endblock head_js %}

{% block body_right_content %}
<div class="right_content clearfix">
		<h3 class="common_title2">全部订单</h3>

		{% for order_tem in page_num %}
		<ul class="order_list_th w978 clearfix">
			<li class="col01">{{order_tem.omodified_date}}</li>
			<li class="col02">订单号：{{order_tem.oid}}</li>
			<li class="col02 stress">
			{% if order_tem.ois_pay|default:'0' == '0' %}
			未支付
			{% elif order_tem.ois_pay|default:'0' == '1' %}
			已支付
			{% else %}
			未支付
			{% endif %}
			</li>
			<li class="col02">快递:10元</li>
		</ul>
		<table class="order_list_table w980">
			<tbody>
				<tr>
					<td width="55%">
						{% for detail_tem in order_tem.order_detail_info_set.all %}
						<ul class="order_goods_list clearfix">					
							<li class="col01"><img src="/static/{{detail_tem.goods.gpic}}"></li>
							<li class="col02">
							{% if detail_tem.goods.gtitle|length < 7 %}
							{{detail_tem.goods.gtitle}}
							{% else %}
							{{detail_tem.goods.gtitle|slice:'6'}}...
							{% endif %}
							<em><span>{{detail_tem.price_fina}}</span>元/{{detail_tem.goods.gunit}}</em>
							</li>	
							<li class="col03">{{detail_tem.count}}</li>
							<li class="col04">0元</li>	
						</ul>
						{% endfor %}

					</td>
					<td width="15%">{{order_tem.ototal}}元</td>
					{% if order_tem.ois_pay|default:'0' = '0' %}
					<td width="15%">待付款</td>
					<td width="15%"><a href="/order/pay{{order_tem.oid}}/" class="oper_btn">去付款</a></td>
					{% elif order_tem.ois_pay|default:'0' = '1' %}
					<td width="15%">已付款</td>
					<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
					{% else %}
					<td width="15%">待付款</td>
					<td width="15%"><a href="/order/pay{{order_tem.oid}}/" class="oper_btn">去付款</a></td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		{% endfor %}

		<div class="pagenation">
			{% if page_num.has_previous %}
			<a href="/user/order{{page_num.previous_page_number}}/"><上一页</a>
			{% endif %}

			{% for pa in paginator_page.page_range %}
			{% if pa == page_num.number %}
			<!-- <a href="javascript:;" class="active">{{pa}}</a> -->
			<a href="#" class="active" onclick="return false">{{pa}}</a>
			{% else %}
			<a href="/user/order{{pa}}/">{{pa}}</a>
			{% endif %}
			{% endfor %}

			{% if page_num.has_next %}
			<a href="/user/order{{page_num.next_page_number}}/"><下一页</a>
			{% endif %}
		</div>
</div>
</div>
{% endblock body_right_content %}
